*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body {
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#container h1 {
    font-size: 3rem;
}

#cabecera #tagline {
    padding: 0 0 0 1rem;
    font-weight: normal;
    font-size: 1rem;
}
#cabecera {
    background-color: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 1em;
}
#post{
    padding: 1em;
}
#footer {
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}
